@font-face {
    font-family: 'DM sans'; /* The name you want to use for the font */
    src: url('../fonts/DM_Sans/DMSans-Regular.woff2') format('woff2'),
         url('../fonts/DM_Sans/DMSans-Regular.woff') format('woff'),
         url('../fonts/DM_Sans/DMSans-Regular.ttf') format('truetype'); /* Multiple formats for browser compatibility */
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: DM sans;
}

.sign-in-button-top{
    width: 150px;
    height:60px;
    border: 1px solid #173B58;
    color: #173B58;
    border-radius: 56px;
    font-size:25px;
    font-weight: 700;
    box-shadow: 0px 3px 12px 0px #173B584D;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home-screen-title{
    font-size: 40px;
    font-weight:bold;
    line-height: 57px;
    text-align: left;
    color: #173B58;
}

.home-screen-sub{
    font-size: 24px;
    font-weight: 600;
    line-height: 46px;
    text-align: left;
    color: #173B58;

}

.sign-in-text{
    font-size: 20px;
    font-weight:600;
    line-height: 46px;
    text-align: left;
    color: #173B58;

}

.input-email{
    border-radius: 56px;
    padding: 5px 8px 5px 8px;
    border: 1px solid #173B58;
    width: 300px;
    height: 62px;
}

.sign-in-options{
    padding: 20px 40px 21px 40px;
    gap: 8px;
    border-radius: 56px;
    opacity: 0px;
    background-color:#EDF2F7;
    border: none;
    margin-right: 8px;
}

.get-started-but{
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    padding: 20px 40px 21px 47px;
    gap: 17px;
    border-radius: 56px;
    opacity: 0px;
    background-color:#EDB031;
    border: none;
    margin-left: -50px;
}


@media (max-width: 576px) {
    .women-image {
        display: none;
    }
    .input-email{
        border-radius: 56px;
        padding: 5px 8px 5px 8px;
        border: 1px solid #173B58;
        width: 300px;
        height: 50px;
    }
    .sign-in-options{
        padding: 5px;
        gap: 4px;
        border-radius: 28px;
        opacity: 0px;
        background-color:#EDF2F7;
        border: none;
        margin-right: 4px;
        
    }
    .get-started-but{
        font-size: 12px;
        font-weight: 600;
        line-height: 20px;
        text-align: center;
        padding: 5px 10px 5px 10px;
        gap: 10px;
        border-radius: 28px;
        opacity: 0px;
        background-color:#EDB031;
        border: none;
        margin-left: -80px;
    }
    .sign-in-button-container{
        justify-content: space-between;
    }
}


@media (max-width: 768px) {
    .women-image {
        display: none; /* This will hide the button */
    }
    .sign-in-options{
        padding: 5px 10px 5px 10px;
        gap: 6px;
        border-radius: 10px;
        opacity: 0px;
        background-color:#EDF2F7;
        border: none;
        margin-right: 6px;
    }
}

@media (max-width: 992px) {
    .women-image {
        display: none;
    }
    .sign-in-options{
        padding: 15px 30px 15px 30px;
        gap: 8px;
        border-radius: 42px;
        opacity: 0px;
        background-color:#EDF2F7;
        border: none;
        margin-right: 8px;
    }
}



.glimps-container{
    background-color: #F6F8FB;
}

.teacher-name{
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;
    color: #183C59;
    margin-bottom: 0;
    margin-top: 5px;
    padding-left:10px;
}

.teacher-sub{
    margin-top: 3px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: #183C59;
    padding-left:10px;
}

.card-line{
    border: 1px solid #D9DBE9;
}

.card-fun{
    margin-right: 10px !important;
}


@media (max-width: 768px) {
    .glimps-container {
      padding: 0px; /* Adjust this value as per your need */
    }
}
  
.glims-title{
    font-size: 40px;
    font-weight: 700;
    line-height: 57px;
    text-align: center;
    color: #173B58;
}

.card-image{
    width: 100%;
    height: auto;
}

.card-box{
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 2.77px 2.21px 0px #00000005;
    box-shadow: 0px 6.65px 5.32px 0px #00000007;
    box-shadow:0px 12.52px 10.02px 0px #00000009;
    box-shadow:0px 22.34px 17.87px 0px #0000000B;
    box-shadow:0px 41.78px 33.42px 0px #0000000D;
    box-shadow:0px 120px 120px 0px rgba(0, 0, 0, 0.3); 

}

.videoimage{
    border-radius: 20px;
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
}

.glimps-subtitle{
    font-size: 26px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;
    color:#FFFFFF;
    
}

.glimps-text{
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    color: #FFFFFF;
    
}

.glimps-text-container{
    margin-top: 30px;
    background-color:#183C59;
    padding: 50px;
    border-radius: 20px;
}

.card-title{
    font-size: 25px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;
    margin-top: 20px;
    color: #183C59;
}

.card-vectors{
    width: 30px;
    height: auto;
}

.book-language{
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: #183C59;
    margin-top:20px;

}

.steps{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
}
 
.about-title{
    margin-top: 80px;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0.04em;
    text-align: center;
    color: #173B58;
}

.about-text{
    margin-top: 80px;
    font-size: 20px;
    font-weight: 400;
    line-height: 37px;
    text-align: left;
    color: #173B58;
}

.Ondervisningsplan{
    font-size: 20px;
    font-weight: 400;
    line-height: 37px;
    text-align: left;
    border-bottom: 1px solid #173B58;
}

.readmore{
    border-bottom: 2px solid #173B58;
    font-weight: 700;
}

.founder-card{
    background: linear-gradient(96.05deg, #96D1E3 45.21%, #D8E4D6 96.81%);
    padding: 40px 50px 40px 50px;
    border-radius: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.about-founder{
    margin-top: 20px;
}
.founder-title{
    margin-bottom: 0;
    font-size: 28px; 
    font-weight: 700; 
    line-height: 36.46px;
    color: #173B58;

}

.founder-subtitle{
    
    margin-bottom: 0;
    font-size: 16px; 
    font-weight: 600; 
    line-height: 20.83px;
    color: #173B58;

}

.founder-text{
    font-size: 16px;
    font-weight: 400;
    line-height: 37px;
    text-align: left;
    color: #173B58;

}

.founder-socials{
    width: 50px;
    height: 50px;
    margin-right: 10px;
    text-align: center;
    border-radius: 10px;
    opacity: 0px;
    cursor: pointer;
}
.LinkedInColor{
    background-color: #006699;
}
.mailColor{
    background-color: #173B58;
}
.article-text{
    font-size: 22px;
    font-weight: 600;
    line-height: 32px;
    text-align: center;
    color:#173B58;
}

.flex-container{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.Internasjonal{
    margin-top: 80px;
    background-color: #F6F8FB;
}

.viewButton{
    width: 200px;
    height:70px;
    border: 1px solid #173B58;
    color: #173B58;
    border-radius: 56px;
    font-size:25px;
    font-weight: 700;
    box-shadow: 0px 3px 12px 0px #173B584D;
    /* Center text inside the button */
    display: flex;
    align-items: center;
    justify-content: center;
}
.international-school-container {
    display: flex;
    flex-direction: column;  /* Stack elements vertically */
    justify-content: center; /* Vertically center the content */
    align-items: flex-start; /* Align items to the left (horizontally) */
    height: 100%;            /* Ensure the container takes the full height */
}

/* Optional: Add some padding to the text for better layout */
.school-title{
    color: #173B58;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0.04em;
    padding-left: 15%; 
    padding-bottom:10px;
}

.school-text{
    font-size: 22px;
    font-weight: 500;
    line-height: 32px;
    text-align: left;
    padding-left: 15%;
    padding-bottom:10px;
}

.button-internationaljuke{
    width: 300px;
    height:70px;
    margin-left: 15%;
    padding: 8px 18px 8px 18px;
    border: 1px solid #173B58;
    color: #173B58;
    border-radius: 56px;
    font-size:18px;
    font-weight: 700;
    box-shadow: 0px 3px 12px 0px #173B584D;
    display: flex;
    align-items: center;
    justify-content: center;
}

.school-schedule-title{
    padding: 60px 10px 5px 0px; 
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0.04em;
    text-align: left;
    color: #173B58;
}

.school-schedule-text{
    padding: 60px 10px 5px 0px; 
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0.03em;
    text-align: left;
    color: #173B58;

}

/* Container for the images */
.image-stack-container {
    position: relative;
    width: 100%;            /* Full width of parent container */
    max-width: 800px;        /* Optional: limit the maximum width for the container */
    padding-top: 56.25%;     /* Aspect ratio for responsiveness (16:9) */
    overflow: hidden;        /* Prevent content overflow */
    margin: 0 auto;          /* Center the container */
    float: left;
    
}

/* Image stack */
.image-stack {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center; /* Center images horizontally */
    align-items: center;     /* Center images vertically */
}

.school-container{
    padding: 122px !important;
}

/* Common styling for both images */
.image1, .image2 {
    position: absolute;
    max-width: 100%;  /* Images scale to fit the container's width */
    max-height: 100%; /* Ensure both images have the same height and fit the container */
    width: auto;      /* Maintain aspect ratio */
    height: auto;     /* Maintain aspect ratio */
    object-fit: contain; /* Ensure both images fit within the container without distortion */
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    .image1, .image2 {
        max-width: 90%;  /* Slightly reduce image size on medium screens */
        max-height: 90%; /* Ensure same height on medium screens */
    }
}

@media (max-width: 480px) {
    .image1, .image2 {
        max-width: 100%; /* Full width on small screens */
        max-height: 100%; /* Ensure images are fully visible */
    }
}

.uo-title{
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0.04em;
    text-align: left;
    color: #173B58;
}

.uo-card{
    box-shadow: 0px 5px 6px 0px #080F340F;
    border: 1px solid #EFF0F6;
    padding: 20px;
}

.profile-images {
    position: relative;
    width: 100px; /* Adjust based on the total width needed */
    height: 60px; /* Adjust based on the height of the images */
    overflow:hidden;
}

.profile {
    position: absolute;
    width: 60px; /* Adjust based on image size */
    height: 60px; /* Adjust based on image size */
    border-radius: 50%; /* Makes the images circular */
    border: 4px solid white; /* Optional: Add border around the images */
}

.profile:nth-child(1) {
    left: 0;
    z-index: 3;
}

.profile:nth-child(2) {
    left: 10px; /* Slight offset to layer over the first image */
    z-index: 2;
}

.profile:nth-child(3) {
    left: 20px; /* Further offset to layer over the second image */
    z-index: 1;
}
.testimonial-title{
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0.04em;
    text-align: center;
    color: #173B58;
}

.testimonials-text{
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
    color: #18191F;
}

.testimonials-container{
    padding:20px;
}

.testimonial-card-active{
    text-align: center;
    border: 1px solid #DEDEDE;
    box-shadow: 0px 35px 30px 10px #0000000B;
    box-shadow: 0px 50px 40px 10px #0000000D;
    padding: 40px 35px 40px 35px;
    border-radius: 8px;
}

.testimonial-card{
    border: 1px solid #DEDEDE;
    text-align: center;
    box-shadow: 0px 6.65px 5.32px 0px #00000007;
    padding: 40px 35px 40px 35px;
    border-radius: 8px;
}

.client-name{
    padding: 15px 10px 15px 10px;
    color: #EDB031;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.20000000298023224px;
}

.client-review{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.20000000298023224px;
}

.client-location{
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.20000000298023224px;
}

.faq-title{
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0.04em;
    text-align: left;
    color: #173B58;
    margin-top: 110px;
    margin-bottom: 40px;
}

.accordion-button:hover {
    background-color: #F6F6F6;
}

.accordion-button {
    border: 1px solid #EBEBEB;  
    color: #252B42;           
    border: none;                
    position: relative;         
    padding-left: 20px;      
    height: 69px;    
}

.accordion-button:focus::before {
    content: '';                  
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;                  
    background-color: #EDB031; 
    box-shadow: none;             
    z-index: 1;                   
}

.accordion-item{
    background-color: #EBEBEB;
}

.accordion-button:focus {
    outline: none;    
    box-shadow: none ;           
}

/* Target the arrow (chevron) inside the accordion button */
.accordion-button::after {
    background-color: transparent;  /* Set default background to transparent */
    color: white;                   /* Change the color of the arrow */
    font-size: 2.5rem;             /* Adjust arrow size if needed */
    border-radius: 10px;
}

/* When the button is collapsed (arrow pointing down) */
.accordion-button.collapsed::after {
    background-color: orange;       /* Change background color to orange */
    color: white;                   /* Optional: Change the arrow color */
}

/* When the button is expanded (arrow pointing up) */
.accordion-button:not(.collapsed)::after {
    background-color: darkorange;   /* Change background color when expanded */
    color: white;                   /* Optional: Adjust arrow color */
}

.footer-container{
    background-color: #173B58;
    color: #FFFFFF;
    padding:40px 47px 20px 60px;
    cursor: pointer;
    border-bottom: 3px solid linear-gradient(246.27deg, #F4E353 21.64%, #EDB031 65.09%);
    position: relative;
}

  
.footer-container::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 8px; /* Border height */
    background: linear-gradient(246.27deg, #F4E353 21.64%, #EDB031 65.09%);
  }

.footer-note{
    width: 80%;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
}

.footer-subheading{
    color: #FFFFFF80;
}

.footer-social-icons {
    display: flex;                  
    justify-content: center;        
    gap: 20px;                      
}

.social-icon {
    width: 50px;                    
    height: 50px;
    background-color:#FFFFFF14;    
    padding: 10px;                  
    border-radius: 20px;             
    display: inline-flex;
    align-items: center;
    justify-content: center;
}











